@font-face {
    font-family: 'UTMAvoBold';
    font-style: normal;
    font-weight: normal;
    src: local('UTMAvoBold'), url('../fonts/utm-avobold.woff') format('woff');
}

@font-face {
    font-family: 'UTMAvo';
    font-style: normal;
    font-weight: normal;
    src: local('UTMAvo'), url('../fonts/utm-avo.woff') format('woff');
}

.image {

    width: 1700px;
    height: 1200px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: absolute;
    z-index: 0;
    transform: scale(1);
}

.name {
    font-family: UTMAvoBold;
    height: 180px;
    width: 950px;
    position: absolute;
    right: 70px;
    top: 42%;
    line-height: 180px;
    color: #643186;
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
}

.year {
    padding-top: 25px;
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 80px;
    left: 425px;
    z-index: 1000!important;
}

.number {
    font-family: Impact, serif;
    height: 100%;
    position: absolute;
    color: #643186;
    line-height: 335px;
    font-size: 180px;
    width: 300px;
    font-weight: bolder;
    letter-spacing: -5px !important;
    text-align: center;
}

.year-text {
    padding-right: 15px;
    font-family: UTMAvoBold, serif;
    position: absolute;
    color: #643186;
    font-size: 70px;
    width: 100%;
    text-align: right;
}

.footer {
    padding-top: 15px;
    position: absolute;
    width: 900px;
    height: 450px;
    bottom: 50px;
    right: 80px;
}


.position, .at, .branch, .join {
    line-height: 70px;
    text-align: center;
}

.position, .branch {
    font-family: UTMAvoBold, serif;
    font-size: 40px;
    font-weight: bolder;
    color: #643186;
}


.at,.join {
    font-family: UTMAvo,serif;
    color: rgb(100, 49, 134);
    font-size: 35px;
}

.option {
    padding: 20px;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.4);
    width: 400px;
    overflow: hidden;
}

.image img {
    position: absolute;
    width: 550px;
    height: 550px;
    background: red;
    z-index: 999;
    left: 85px;
    top: 290px;
    border-radius: 10px;
}

#thumb {
    transform: scale(0.6);
    margin-top: -200px;
    margin-left: -200px;

}

#capture {
    position: fixed;
    left: -1700px;
}

@media screen and (max-width: 1500px){

    #thumb {
        transform: scale(0.4);
        margin-top: -300px;
        margin-left: -300px;

    }

}

.navbar-default {
    padding: 5px 0;
}

.navbar-default i {
    font-size: 1em;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
