<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page Description">
    <meta name="author" content="lengkeng">
    <title>GMO anniversary</title>

    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css?t=1234">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="Image">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="">GMO Anniversary</a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="mailto:ohmygodvt95@gmail.com">Develop by LengKeng with <3</a>
            </li>
        </ul>
    </div>
</nav>
<a href="" id="image" download="{{name}}_{{year}}_{{nth(year)}}.png" class="hidden">click</a>

<div class="container-fluid">
    <div class="option">
        <div class="">
            <div class="">
                <h3 class="text-center">Information</h3>
                <form action="" ng-submit="submit($event)" method="POST" enctype="multipart/form-data">

                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <input type="text" ng-model="name" placeholder="Name" class="form-control" required>
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <br>
                            <input type="text" ng-model="join_date" placeholder="Join date" class="form-control" required ng-change="getYear(join_date)">
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <br>
                            <input type="text" ng-model="position" placeholder="Position" class="form-control" required>
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <br>
                            <input type="text" ng-model="branch" placeholder="Branch" class="form-control">
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <br>
                            <input type="number" ng-model="year" placeholder="Years" min="0" class="form-control">
                        </div>
                        <div class="col-sm-12">
                            <br>
                            avatar <br>
                            <input type="file" ng-model="image" placeholder="Image" required id="file">
                        </div>
                        <div class="col-sm-6">
                            <hr>
                            <button class="btn btn-success">Export</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-2">
                <div class="image" id="thumb">
                    <img src="{{image}}" alt="{{image}}">
                    <div class="name">
                        {{name}}
                    </div>
                    <div class="year">
                        <div class="number">
                            {{year}}
                        </div>
                        <div class="year-text">
                            {{nth(year)}}
                        </div>
                    </div>
                    <div class="footer">
                        <div class="position">
                            {{position}}
                        </div>
                        <div class="branch">
                            {{branch}}
                        </div>
                        <div class="join">
                            Joining date: {{join_date}}
                        </div>
                        <div class="at">
                            {{ year }} {{ nth(year) }} anniversary at GMO-Z.com RUNSYSTEM
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image center-block" id="capture">
            <img src="{{image}}" alt="{{image}}">
            <div class="name">
                {{name}}
            </div>
            <div class="year">
                <div class="number">
                    {{year}}
                </div>
                <div class="year-text">
                    {{nth(year)}}
                </div>
            </div>
            <div class="footer">
                <div class="position">
                    {{position}}
                </div>
                <div class="branch">
                    {{branch}}
                </div>
                <div class="join">
                    Joining date: {{join_date}}
                </div>
                <div class="at">
                    {{ year }} {{ nth(year) }} anniversary at GMO-Z.com RUNSYSTEM
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/html2canvas/dist/html2canvas.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/file-saver/FileSaver.min.js"></script>
<script src="js/blob.js"></script>
<script src="js/script.js"></script>
</body>
</html>
